{% extends 'layout.html' %}
{% block content %}
<div class="text-white bg-info" style="padding: 10px 20px; margin: 5px 25px 35px 25px; border: solid 2px white;">
    <h1 class="text-white">About Page</h1>
    <ul>
        <li>Gallery Organizer is an Object Detector App that allows User to Automate Categorization of their Images.
        </li>
        <li>This App can Categorize Images into 12 Categories on the basis of 80 Objects:</li>
        <ol>
            <li>PEOPLE: person</li>
            <li>VEHICLES: bicycle, car, motorbike, bus, train, truck, boat, traffic light, stop sign, parking meter</li>
            <li>AEROPLANE: aeroplane</li>
            <li>ANIMALS AND BIRDS: bird, cat, dog, horse, sheep, cow, elephant, bear, zebra, giraffe</li>
            <li>SPORTS: frisbee, skis, snowboard, sports ball, kite, baseball bat, baseball glove, skateboard,
                surfboard,
                tennis racket</li>
            <li>DINING: bottle, wine glass, cup, fork, knife, spoon, bowl, microwave, oven, toaster, sink, refrigerator
            </li>
            <li>FOOD: banana, apple, sandwich, orange, broccoli, carrot, hot dog, pizza, donut, cake</li>
            <li>FURNITURE: chair, sofa, bed, diningtable, bench</li>
            <li>ELECTRIC APPLIANCES: tvmonitor, laptop, mouse, remote, keyboard, cell phone</li>
            <li>BAGS: backpack, handbag, suitcase</li>
            <li>HOUSEHOLD GOODS: pottedplant, clock, vase</li>
            <li>OTHERS: fire hydrant, umbrella, tie, book, scissors, teddy bear, toilet, toothbrush, hair drier and
                UNIDENTIFIED-THINGS</li>
        </ol>
        <li>Gallery Organizer also allows Users to Edit Images and Make Video Clips</li>
    </ul>
</div>
{% endblock content %}

<!-- People, Vehicles, Aeroplane, Animals and Birds, Sports, Dining, Food, Furniture, Electric Appliances, Bags, Household Goods, Others -->