{% extends 'layout.html' %}
{% block content %}
<br>
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom text-center m-4">{{ legend }}</legend>
            <div class="form-group" style="margin: 0;">
                {{ form.g_image.label() }}
                {{ form.g_image(class="form-control-file") }}
                {% if form.g_image.errors %}
                {% for error in form.g_image.errors %}
                <span class="text-danger">{{ error }}</span><br>
                {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group text-center">
            {{ form.submit(class='btn btn-outline-info') }}
        </div>
    </form>
</div>
{% endblock content %}